/*  BODY  */
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

/*  NAVBAR  */
.nav-blue {
  background-color: #6480b0 !important;
  font: white !important;
}

.navbar ul li a {
  color: white;
}

/*  HOMEPAGE IMGS  */
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* 
  To remove the parallax effect, just change to scroll
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/pete-willies-tiles.jpg");
  /* Photo by Pete Willis on Unsplash */
  min-height: 700px;
  opacity: 0.7 !important;
}

/*  IMG CREDITOS  */
.pimg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/hutomo.jpg");
  /* Photo by Pete Willis on Unsplash */
  min-height: 700px;
  opacity: 0.7 !important;
}

.pimg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/tiles.jpg");
  /* Photo by Pete Willis on Unsplash */
  min-height: 700px;
  opacity: 0.7 !important;
}

/*  HOMEPAGE SECTIONS  */
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 200px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

.aurora {
  /* background-color: #111; */
  /* color: #fff; */
  padding: 20px !important;
  opacity: 1 !important;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.section {
  text-align: left;
  padding: 50px 120px;
  line-height: 1.2;
}

.section-blue {
  background-color: #6480b0;
  color: #ddd;
}

.section-blue-light {
  background-color: #92a9d0;
  color: #ddd;
}

.service-header {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

/*  PICTURES  */

.face-pic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.service-pic {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* DIV CENTERED FOR ABOUT ME */
#centered {
  padding: 40px;
}

.text-background {
  background: #426094;
  color: #eaf0fa !important;
  text-align: justify;
  text-justify: inter-word;
}

/* DIV CENTERD VERT AND HORI */
.super-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* ICONS STYLING */
#margin-6p-grey {
  margin: 6px;
  color: #eaf0fa;
}

p {
  font-size: 30px;
}

hr {
  border: 0;
  height: 1px;
  background: #555;
}

.img-menu {
  padding: 5px;
}

#peca-ja {
  margin-top: 40px;
  background: #32cd32;
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 2em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid #32cd32;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

#peca-ja:hover,
#peca-ja:active,
#peca-ja:focus {
  background: #228b22;
}

/* ICONS CREDITS */
/* BLUEPRINT */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
/* CHAIR */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
/* INTERIOR DESIGN */
/* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
